*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.logo-img{
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.bg-div{
 background:#333;
 overflow: hidden;
}
/* .logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid wheat;
    border-radius: 50px;
    color: white;

} */

body {
  font-family: Arial, sans-serif;
}
nav {
  background: rgb(3, 63, 32);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img{
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo-img img{
  width: 30%;
  left: -10%;
  border: 3px solid rgb(220, 245, 78);
  border-radius: 30px;
  cursor: pointer;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}
nav .mainMenu li a:hover {
  background: rgb(217, 255, 0);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.fa-twitter:hover {
  color: rgb(86, 154, 243);
}
.fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.fa-youtube:hover {
  color: rgb(255, 123, 0);
}
nav .logo {
  margin: 6px;
  cursor: pointer;
  
}
@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(237, 139, 53);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}


.background{
    background: rgb(0, 0,0,0.7) url("Bookstore Image Website.jpg");
    background-size: cover;
    background-blend-mode: darken;
}



header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}
header h4{
    position: relative;
    left: 0%;
    top: 10px;
    bottom: 1rem;
    font-size: 1.6rem;
}
.Book-img{
    color: rgb(1, 1, 23);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0rem;
    font-style: normal;

}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(16, 15, 15);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f16e6e;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}
.logo-head{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.log{
    position: relative;
    display: inline-block;
    bottom: -20px;
    
    
}
.log.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.log.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.footer {
    background: #d7f1c2;
    top: 200%;
    width: 100%;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 1.0rem;
    color: #130f40;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: #eb4d4b;
  }
  
  .footer .box-container .box a:hover {
    color: #eb4d4b;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .share {
    padding-top: 2rem;
    text-align: center;
  }
  
  .footer .share a {
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 25%;
    background: #130f40;
    color: #fff;
    margin: .3rem;
  }
  
  .footer .share a:hover {
    background: #eb4d4b;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #666;
    font-size: 1.0rem;
  }
  
  .footer .credit span {
    color: #eb4d4b;
  }
  