*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.rightnavbar{
    width: 50%;
    padding: auto;

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid wheat;
    border-radius: 50px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 50%;
    
    display: flex;
    align-items: center;
    

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
    

}

.nav-list li a{
    text-decoration: none;
    color: aliceblue;

}
.nav-list li a:hover{
    text-decoration: none;
    color: yellow;
}
.background{
    background: rgb(0, 0,0,0.7) url("Bookstore Image Website.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
#Search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;


}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}
header h4{
    position: relative;
    left: 0%;
    top: 10px;
    bottom: 1rem;
    font-size: 1.6rem;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}
.logo-head{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.log{
    position: relative;
    display: inline-block;
    bottom: -20px;
    
    
}
.log.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.log.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.footer{
    padding: 0;
    position: relative;
    
    top: 100px;
    height: 1vh;
    width: 50%; 
    align-content: horizontal;
    justify-content: center;
    
}
.footer li{
    list-style: none;
}
/* .main{
    flex-direction: column;
} */
